version: '3'

volumes:
  pg_data:
  static:
  media:


services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    depends_on:
      - db
    image: jrush/homerecipes_backend
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/media
  frontend:
    env_file: .env
    image: jrush/homerecipes_frontend
    volumes:
      - static:/static
  gateway:
    image: nginx:1.19.3
    ports:
      - 10000:80
    volumes:
      - ./docs/:/static/api/docs
      - ./infra/nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/static
      - media:/media/
